<div class="login-session" > 
 <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

    <header>
      <nav >   
        <a href='/'><i class="fas fa-arrow-left"></i></a>
        <h1>Sign up</h1>
          <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
      </nav>
    </header>
    <%= render "devise/shared/error_messages", resource: resource %>


 <div class="field">
    <%= f.text_field :name, placeholder:"Full Name"%>
  </div>

  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"Email" %>
  </div>

  <div class="field">
    <%= f.password_field :password, autocomplete: "new-password", placeholder:"Password" %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder:"Confirm Password" %>
  </div>

<% end %>


</div>
