  <% if user_signed_in? %>
  <div class="nav-container">

<ul class="nav-bar">

  <li class="nav-item">
    <h2>
      <%= "#{current_user.name}" %>
    </h2>
  </li>
    <li class="nav-item">
     <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %>
    </li>
</ul>
</div>
 <% end %>

<p id="notice"><%= notice %></p>

 <div class='group-container'>

<ul>
  <% @groups.each do |group| %>
    <li>
    <div>
    <img src="<%= group.icon %>">
    <div>
        <%= link_to group.name, group_path(group)%>
      <p><%= group.created_at.strftime("%d %b %Y") %></p>
    </div>
    </div>
          <p>$<%= group.total_amount%></p>
    </li>
  <% end %>
</ul>


<div class="add-div">
<%= link_to 'New Catagory', new_group_path %>
</div>
</div>
