  <% if user_signed_in? %>
  <div class="nav-container">

<ul class="nav-bar">

  <li class="nav-item">
  <a href='/'><i class="fas fa-arrow-left"></i></a>
  </li>
   <h2>
      <%= @group.name %>
    </h2>
</ul>
</div>
 <% end %>

<p id="notice"><%= notice %></p>

<div class='group-info-div'>

<p>Total Amount:</p>
<p>$<%=@group.total_amount%></p>

</div>

<div class='group-container'>

<ul>
  <% @group.exchanges.each do |exchange| %>
    <li>
    <div>
    <div>
        <%=exchange.name%>
      <p><%= exchange.created_at.strftime("%d %b %Y") %></p>
    </div>
    </div>
          <p>$<%= exchange.amount%></p>
    </li>
  <% end %>
</ul>

<div class="add-div">
<%=link_to 'New Exchange', new_group_exchange_path(@group) %>

</div>
</div>
